<div class="has-text-centered">
  <h2 class="title is-4">Log in</h2>
</div>

<div class="columns is-centered">
  <form class="column is-4" action="/login" method="post">
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left">
        <input class="input" type="email" name="email" required="true" placeholder="Your email addess">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" name="password" type="password" required="true" placeholder="Enter password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button title is-6 is-danger is-link">Log in</button>
        <span class="is-pulled-right">Incorrect email or password</span>
      </div>
    </div>
    <div class="control">
      <p>If you have not registered, why not <a href="/register">register now</a>!</p>
    </div>
  </form>
</div>
