<h2>Log in</h2>
<form action="/login" method="post">
  <input name="email" placeholder="Your email addess">
  <input name="password" type="password" placeholder="Create a password">
  <button>Log in</button>
</form>
