<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>WDI-Project-Two</strong> Powered by <a class="title is-6" href="https://github.com/ShamSZ">Sham</a>.
    </p>
  </div>
</footer>
