<header>
  <nav class="navbar is-danger">
    <div class="container">
      <div class="navbar-brand">
        <div class="navbar-item"><h1 class="title"><i class="far fa-star"></i>Rater</h1></div>
        <span id="burger" class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/about">About</a>
            <a class="navbar-item" href="/restaurants">Restaurants</a>
          <% if(locals.isLoggedIn) { %>
            <a class="navbar-item" href="/users/<%= locals.currentUser._id %>"><img class="profile-thumb" src="<%= locals.currentUser.profilePic %>" alt="profile picture"><%= locals.currentUser.username %></a>
            <a class="navbar-item" href="/logout">Log out</a>
          <% } else { %>
            <a class="navbar-item" href="/login">Log in</a>
            <a class="navbar-item" href="/register">Register</a>
          <% } %>
          </div>
      </div>
    </div>
  </nav>
</header>
