<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Rater</title>
  </head>
  <body>
    <% include ./partials/header %>

    <main>
      <%- body %>
    </main>

    <% include ./partials/footer %>
  </body>
</html>
