<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Rater</title>
  </head>
  <body>
    <% include ./partials/header %>

    <main>
      <%- body %>
    </main>

    <% include ./partials/footer %>
    <script src="/js/script.js" charset="utf-8"></script>
  </body>
</html>
