<div class="has-text-centered">
  <img class="home-img" src="/images/japanese-shuriken.png" alt="shuriken">
  <h2 class="title is-4">About Us</h2>
  <div class="columns">
    <article class="column is-8 is-offset-2">
      <p class="is-half">It is something that every business fears: the Rating Ninja.
        Rating Ninja patrols the realm of customer service ready to strike those
        down that do not value the esteemed honour of client service.</p>
      <br>
      <p>Rating Ninja is to reviews as Google is to search, as Amazon is to books,
        as Uber is to cabs - so dominant that it is almost a monopoly.</p>
    </article>
  </div>
</div>
