<div class="has-text-centered">
  <img class="home-img" src="/images/katana.png" alt="crossed katana swords">
  <div class="columns">
    <article class="column is-8 is-offset-2">
      <% if(locals.isLoggedIn) { %>
        <h2 class="title is-4">Welcome back <%= locals.currentUser.username %></h2>
        <% } else { %>
        <h2 class="title is-4">Welcome</h2>
      <% }; %>
        <p>To Rating Ninja, the razor-sharp, review app!</p>
    </article>
  </div>
</div>
