<div>
  <h2><%= locals.currentUser.username %>'s profile page</h2>
  <img height="200px" src="<%= locals.currentUser.profilePic %>" alt="profile picture">
</div>
<div>
  <%= locals.currentUser.email %>
</div>
