.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

h2.title {
  margin-top: 3%;
}

footer {
  margin-top: 15px;
}

section.restaurant-grid {
  margin-top: 10px;
}

div.restaurant-block {
  border: solid black 1px;
  margin-top: 5px;
  color: black;
  position: relative;
}

.restaurant-block button {
  position: absolute;
  bottom: 15px;
  width: 250px;
}
