.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

h2.title {
  margin-top: 3%;
}

footer {
  margin-top: 15px;
}

div.index-content {
  margin-bottom: 3%;
}

div.restaurant-block {
  border: solid black 1px;
  margin-top: 5px;
  color: black;
  position: relative;
}

.restaurant-block img {
  min-height: 200px;
}

.restaurant-block .view-button {
  position: absolute;
  bottom: 15px;
}
.index-description p {
  margin-bottom: 20%;
}
.view-button button {
  padding: 0 40%;
}

span.add-icon {
  margin-right: 5px;
}
label.radio {
  margin-right: 2%;
}

section.show-content article {
  margin-top: 15px;
}
div.add-review {
  margin-top: 50%;
  margin-bottom: 50%;
  background-color: blue;
}
