.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

h2.title {
  margin-top: 3%;
}

footer {
  margin-top: 15px;
}

div.index-content {
  margin-bottom: 3%;
}

div.restaurant-block {
  border: solid black 1px;
  margin-top: 5px;
  color: black;
  position: relative;
}

.restaurant-block img {
  min-height: 200px;
}

.restaurant-block .view-button {
  position: absolute;
  bottom: 15px;
}
.index-description p {
  margin-bottom: 20%;
}
.view-button button {
  padding: 0 40%;
}

span.add-icon {
  margin-right: 5px;
}
label.radio {
  margin-right: 2%;
}

.show-content article {
  margin-top: 1%;
}

article .show-block {
  border-bottom: solid 1px black;
}

img.profile-pic {
  /* max-width: 40px;
  max-height: 40px; */
  border-radius: 20px;
}
div.show-comment, div.show-delete-comment {
  padding-top: 0;
}
