<div class="has-text-centered">
  <h2 class="title is-4">Edit your details</h2>
</div>

<div class="columns is-centered">
  <form action="/users/<%= locals.currentUser._id %>?_method=PUT" class="column is-7" method="post">

    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" required name="username" placeholder="Username" value="<%= username %>">
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" required name="email" value="<%= email %>" placeholder="Email">
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" required name="password" placeholder="Password">
      </div>
    </div>

    <div class="field">
      <label class="label">Profile Picture</label>
      <div class="control">
        <input class="input" required name="profilePic" value="<%= profilePic %>" placeholder="Profile Picture URL">
      </div>
    </div>

    <div class="field">
        <div class="control">
          <button class="title is-6 is-danger button is-link">Save changes</button>
        </div>
    </div>

  </form>
</div>
