<h2>Add a new Restaurant</h2>
<form action="/restaurants" method="post">
  <input name="name" placeholder="Name">
  <input name="rating" type="number" hidden="true">
  <input name="price" type="number" placeholder="Price">
  <input name="description" placeholder="Description">
  <input name="cuisine" placeholder="Cuisine">
  <input name="image" placeholder="Image URL">
  <input name="address" placeholder="Address">
  <button>Add Restaurant</button>
</form>
